.profile-content {
    width: 70%;
    min-width: 300px;
    max-width: 500px;
}

.profile-card__name {
    width: 90%;
}

.profile-card__email {
    width: 70%;
}

.profile-card__score {
    margin: 30px 0px;
}

.profile-card__data-table {
    width: 100%;
}
